body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: blanchedalmond;
	color: black;
}

.head {
	text-align: center;
	text-decoration: double;
	background-color: black;
	color: aliceblue;
}
