body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.head {
	text-align: center;
	align-content: center;
}

.photo {
	padding-left: 50%;
}

.left {
	margin-left: 50%;
}

footer {
	padding-left: 90%;
}
